
body {
    color: #373737;
    background: #F0F1F7;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.hero {
    position: relative;
    background: #272C3A;
    color: #E5E5E5;
    text-align: center;
    min-height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero .content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px 40px 20px;
}

.hero .content .logo {
    width: 150px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.hero .content strong {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
}

.hero .content .description {
    color: #E5E5E5;
    font-size: 18px;
}

.hero .content .btn-box {
    margin-top: 40px;
    text-align: center;
}

.hero .content .btn {
    color: #8CE349;
    background: transparent;
    border-color: #8CE349;
    line-height: 1.5;
    border-radius: 6px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.hero .content .btn:hover {
    color: #272C3A;
    background: #8CE349;
}

.detail {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.detail .content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 40px 20px;
}

.detail .content .featurette {
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail .content .featurette .feature {
    padding-left: 20px;
    padding-right: 20px;
}

.detail .content .featurette .feature h1 {
    font-size: 24px;
    font-weight: 700;
}

.detail .content .featurette .feature .text {
    margin-top: 15px;   
}

.detail .content hr {
    border-top-color: #616C8F;
    margin: 40px auto;
    width: 100%;
    max-width: 600px;
}

.detail .content .instruction {
    margin-top: 40px;
    margin-bottom: 60px;
}

.detail .content .instruction h1 {
    font-size: 24px;
    font-weight: 700;
}

.detail .content .instruction h2 {
    font-size: 16px;
    font-weight: 700;
}

.detail .content .instruction pre {
    background: #272C3A;
    color: #8CE349;
    font-size: 13px;
    margin: 2px 0;
    border: 0;
}

.detail .content .instruction code {
    background: #F0F1F7;
    color: #272C3A;
    font-size: 16px;
}

.detail .content .instruction .text {
    margin-top: 15px;
}

.detail .content .instruction .nav-tabs {
    background: #272C3A;
    border-style: solid;
    border-width: 2px 2px 0 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.detail .content .instruction .nav-tabs > li {
    margin: 0;
}

.detail .content .instruction .nav-tabs > li > a {
    color: #8CE349;
    background: #272C3A;
    border: 0;
}

.detail .content .instruction .nav-tabs > li > a:hover,
.detail .content .instruction .nav-tabs > li > a:focus {
    color: #F0F1F7;

}

.detail .content .instruction .nav-tabs > li.active > a,
.detail .content .instruction .nav-tabs > li.active > a:hover,
.detail .content .instruction .nav-tabs > li.active > a:focus {
	color: #272C3A;
	background: #F0F1F7;
	border-color: #F0F1F7;
}

.detail .content .instruction .tab-content {
    background: #272C3A;
    border-color: #272C3A;
    border-style: solid;
    border-width: 0 1px 0px 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.detail .content .instruction .example-code {
    margin-top: 5px;
}

.detail .content .instruction .tab-content .header {
    display: flex;
    align-items: center;
    background: #F0F1F7;
    margin: 0 1px 1px 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.detail .content .instruction .tab-content .link {
    margin-top: 6px;
    margin-right: 4px;
    text-align: right;
}

footer {
    position: relative;
    background: #272C3A;
    color: #919191;
    text-align: center;
    font-size: 14px;
    min-height: 50px;
    width: 100%;
    margin: 0;
    padding: 15px 0 10px 0;
}